.vs/ai-lab-tutorial.slnx/FileContentIndex/1a496426-259e-4cc5-bb42-22dfc20b43bf.vsidx
.vs/ai-lab-tutorial.slnx/FileContentIndex/ac63bb79-9f07-469d-9ed6-89e8c8767677.vsidx
.vs/ai-lab-tutorial.slnx/FileContentIndex/c59d5354-06c6-424a-b958-a5827d454560.vsidx
.vs/ai-lab-tutorial.slnx/FileContentIndex/0c949055-5d8c-477b-9694-b37bf97536c4.vsidx
.vs/ai-lab-tutorial.slnx/FileContentIndex/6cdd9d89-9a19-4992-b982-1ecef187d706.vsidx
*.vsidx
*.sqlite
*.sqlite
